USE [BaseDatosSCADA]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16/6/2016 17:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ElementoSCADA]    Script Date: 16/6/2016 17:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementoSCADA](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[CantidadAlarmasActivas] [int] NOT NULL,
	[CantidadAdvertenciasActivas] [int] NOT NULL,
	[Direccion] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[ElementoPadre_ID] [uniqueidentifier] NULL,
	[Tipo_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.ElementoSCADA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 16/6/2016 17:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[ID] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[IdElementoAsociado] [uniqueidentifier] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
	[NivelGravedad] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Incidente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicion]    Script Date: 16/6/2016 17:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicion](
	[ID] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[Fecha] [datetime] NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Variable_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Medicion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 16/6/2016 17:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tipo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Variable]    Script Date: 16/6/2016 17:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variable](
	[ID] [uniqueidentifier] NOT NULL DEFAULT (newsequentialid()),
	[FueSeteada] [bit] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[AlarmaActiva] [bit] NOT NULL,
	[AdvertenciaActiva] [bit] NOT NULL,
	[ValorActual] [decimal](18, 2) NOT NULL,
	[FechaUltimaModificacion] [datetime] NOT NULL,
	[MinimoAlarma] [decimal](18, 2) NOT NULL,
	[MinimoAdvertencia] [decimal](18, 2) NOT NULL,
	[MaximoAdvertencia] [decimal](18, 2) NOT NULL,
	[MaximoAlarma] [decimal](18, 2) NOT NULL,
	[ElementoPadre_ID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Variable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[ElementoSCADA] ([ID], [Nombre], [CantidadAlarmasActivas], [CantidadAdvertenciasActivas], [Direccion], [Ciudad], [Discriminator], [ElementoPadre_ID], [Tipo_ID]) VALUES (N'2e15e1e4-ce5c-43e0-bc7e-159c4ac6bc82', N'Molino', 0, 0, NULL, NULL, N'Dispositivo', N'6ea70486-4a37-42db-96b5-5a731462178f', N'f2c5c1e7-bea8-4a6d-a334-c66097e88b09')
INSERT [dbo].[ElementoSCADA] ([ID], [Nombre], [CantidadAlarmasActivas], [CantidadAdvertenciasActivas], [Direccion], [Ciudad], [Discriminator], [ElementoPadre_ID], [Tipo_ID]) VALUES (N'434d0d70-8e11-424f-93bd-23a6e54a186d', N'Calentadores', 2, 0, NULL, NULL, N'Dispositivo', N'8a1f5ce4-b33f-4923-861e-f4bfb0a52ec4', N'f2c5c1e7-bea8-4a6d-a334-c66097e88b09')
INSERT [dbo].[ElementoSCADA] ([ID], [Nombre], [CantidadAlarmasActivas], [CantidadAdvertenciasActivas], [Direccion], [Ciudad], [Discriminator], [ElementoPadre_ID], [Tipo_ID]) VALUES (N'4c241140-ee93-4fbd-b247-439f1ee8906d', N'Centrifugadora 2', 0, 0, NULL, NULL, N'Dispositivo', N'44edcf7a-2d41-4ddd-8cc3-9c9cef594c06', N'f2c5c1e7-bea8-4a6d-a334-c66097e88b09')
INSERT [dbo].[Incidente] ([ID], [IdElementoAsociado], [Descripcion], [Fecha], [NivelGravedad]) VALUES (N'ad8955c8-fc33-e611-8732-64006a59054b', N'e09ceba5-9a48-4132-852d-674dacc19e9b', N'Incidente', CAST(N'2016-06-16 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Incidente] ([ID], [IdElementoAsociado], [Descripcion], [Fecha], [NivelGravedad]) VALUES (N'31b64bcf-fc33-e611-8732-64006a59054b', N'8a1f5ce4-b33f-4923-861e-f4bfb0a52ec4', N'Incidente instalacion hija', CAST(N'2016-06-14 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Incidente] ([ID], [IdElementoAsociado], [Descripcion], [Fecha], [NivelGravedad]) VALUES (N'1ffa0ef3-fc33-e611-8732-64006a59054b', N'434d0d70-8e11-424f-93bd-23a6e54a186d', N'Incidente de nodo de tercer nivel', CAST(N'2016-06-16 17:00:07.000' AS DateTime), 5)
INSERT [dbo].[Medicion] ([ID], [Fecha], [Valor], [Variable_ID]) VALUES (N'f8d4f9f5-fb33-e611-8732-64006a59054b', CAST(N'2016-06-16 16:53:06.723' AS DateTime), CAST(12.00 AS Decimal(18, 2)), N'bf780bec-fb33-e611-8732-64006a59054b')
INSERT [dbo].[Medicion] ([ID], [Fecha], [Valor], [Variable_ID]) VALUES (N'e283db6a-fc33-e611-8732-64006a59054b', CAST(N'2016-06-16 16:51:12.290' AS DateTime), CAST(1.50 AS Decimal(18, 2)), N'8c0f7da6-fb33-e611-8732-64006a59054b')
INSERT [dbo].[Medicion] ([ID], [Fecha], [Valor], [Variable_ID]) VALUES (N'e383db6a-fc33-e611-8732-64006a59054b', CAST(N'2016-06-16 16:56:30.843' AS DateTime), CAST(12.00 AS Decimal(18, 2)), N'8c0f7da6-fb33-e611-8732-64006a59054b')
INSERT [dbo].[Tipo] ([ID], [Nombre], [Descripcion]) VALUES (N'f9d6f03e-9aa7-4490-92d9-43082e90aa89', N'Tipo de dispositivo 1', N'Descripcion tipo 1')
INSERT [dbo].[Tipo] ([ID], [Nombre], [Descripcion]) VALUES (N'abd71ca5-7900-49ed-864c-43c9169b2c8e', N'Tipo de dispositivo 3', N'Descripcion tipo 3')
INSERT [dbo].[Tipo] ([ID], [Nombre], [Descripcion]) VALUES (N'f2c5c1e7-bea8-4a6d-a334-c66097e88b09', N'Tipo de dispositivo 2', N'Descripcion tipo 2')
INSERT [dbo].[Variable] ([ID], [FueSeteada], [Nombre], [AlarmaActiva], [AdvertenciaActiva], [ValorActual], [FechaUltimaModificacion], [MinimoAlarma], [MinimoAdvertencia], [MaximoAdvertencia], [MaximoAlarma], [ElementoPadre_ID]) VALUES (N'8c0f7da6-fb33-e611-8732-64006a59054b', 1, N'Variable advertencia', 0, 1, CAST(1.50 AS Decimal(18, 2)), CAST(N'2016-06-16 16:56:46.700' AS DateTime), CAST(1.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), N'64e5b217-de32-4d5d-9867-940dd2c7fa4c')
INSERT [dbo].[Variable] ([ID], [FueSeteada], [Nombre], [AlarmaActiva], [AdvertenciaActiva], [ValorActual], [FechaUltimaModificacion], [MinimoAlarma], [MinimoAdvertencia], [MaximoAdvertencia], [MaximoAlarma], [ElementoPadre_ID]) VALUES (N'3db3c7c1-fb33-e611-8732-64006a59054b', 1, N'Variable alarma', 1, 0, CAST(10.00 AS Decimal(18, 2)), CAST(N'2016-06-16 16:51:53.353' AS DateTime), CAST(1.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(4.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)), N'434d0d70-8e11-424f-93bd-23a6e54a186d')
INSERT [dbo].[Variable] ([ID], [FueSeteada], [Nombre], [AlarmaActiva], [AdvertenciaActiva], [ValorActual], [FechaUltimaModificacion], [MinimoAlarma], [MinimoAdvertencia], [MaximoAdvertencia], [MaximoAlarma], [ElementoPadre_ID]) VALUES (N'f3cc8fdb-fb33-e611-8732-64006a59054b', 1, N'Variable alarma', 1, 0, CAST(100.00 AS Decimal(18, 2)), CAST(N'2016-06-16 16:52:36.857' AS DateTime), CAST(10.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), N'434d0d70-8e11-424f-93bd-23a6e54a186d')
ALTER TABLE [dbo].[ElementoSCADA]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ElementoSCADA_dbo.ElementoSCADA_ElementoPadre_ID] FOREIGN KEY([ElementoPadre_ID])
REFERENCES [dbo].[ElementoSCADA] ([ID])
GO
ALTER TABLE [dbo].[ElementoSCADA] CHECK CONSTRAINT [FK_dbo.ElementoSCADA_dbo.ElementoSCADA_ElementoPadre_ID]
GO
ALTER TABLE [dbo].[ElementoSCADA]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ElementoSCADA_dbo.Tipo_Tipo_ID] FOREIGN KEY([Tipo_ID])
REFERENCES [dbo].[Tipo] ([ID])
GO
ALTER TABLE [dbo].[ElementoSCADA] CHECK CONSTRAINT [FK_dbo.ElementoSCADA_dbo.Tipo_Tipo_ID]
GO
ALTER TABLE [dbo].[Medicion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Medicion_dbo.Variable_Variable_ID] FOREIGN KEY([Variable_ID])
REFERENCES [dbo].[Variable] ([ID])
GO
ALTER TABLE [dbo].[Medicion] CHECK CONSTRAINT [FK_dbo.Medicion_dbo.Variable_Variable_ID]
GO
ALTER TABLE [dbo].[Variable]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Variable_dbo.ElementoSCADA_ElementoPadre_ID] FOREIGN KEY([ElementoPadre_ID])
REFERENCES [dbo].[ElementoSCADA] ([ID])
GO
ALTER TABLE [dbo].[Variable] CHECK CONSTRAINT [FK_dbo.Variable_dbo.ElementoSCADA_ElementoPadre_ID]
GO
